# Web Scraping

In [1]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import datetime
import requests
import shutil
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd

# Create a path using chromedriver
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 104.0.5112
[WDM] - Get LATEST chromedriver version for 104.0.5112 google-chrome
[WDM] - Driver [/Users/blancacarretero/.wdm/drivers/chromedriver/mac64/104.0.5112.79/chromedriver] found in cache

## NASA Mars News

In [2]:
# Visit NASA news website
url = "https://redplanetscience.com/"
browser.visit(url)

In [3]:
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

In [4]:
# save the most recent article, title and date
article = soup.find("div", class_="list_text")
news_p = article.find("div", class_="article_teaser_body").text
news_title = article.find("div", class_="content_title").text
news_date = article.find("div", class_="list_date").text
print(news_date)
print(news_title)
print(news_p)

August 21, 2022
NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget
Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return.

## JPL Mars Space Images—Featured Image

In [5]:
# Visit the Mars space images URL
url2 = "https://spaceimages-mars.com/"
browser.visit(url2)

In [6]:
# Design an XPTH selector to grab the current featured Mars image
xpath = '/html/body/div[1]/div/a/button'
image = '/html/body/div[8]/div/div/div/div/img'

In [7]:
# Use splinter to Click the feautured image 
# to bring up the full resolution image
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [8]:
# Scrape the browser into soup and use soup to find the full resolution image of mars
# Save the image url to a variable called `img_url`
html = browser.html
soup = bs(html, 'html.parser')

img_url = soup.find("img", {"class":"fancybox-image"})['src']
featured_img_url = url2 + img_url
featured_img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [9]:
# Use the requests library to download and save the image from the `img_url` above
response = requests.get(featured_img_url, stream=True)
with open('mars_featured_img.jpg', 'wb') as out_file:
    shutil.copyfileobj(response.raw, out_file)
    
# Display the image with IPython.display
from IPython.display import Image
Image(url='mars_featured_img.jpg')

## Mars Facts

In [10]:
# Visit the Mars facts URL
url3 = "https://galaxyfacts-mars.com/"
browser.visit(url3)

In [11]:
# create dataframe for mars information
mars_data = pd.read_html(url3)

mars_df = mars_data[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
mars_df.columns = ["Mars", "Value","drop"]
mars_df

                      Mars            Value             drop
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [13]:
mars_df2 = mars_df[['Mars', 'Value']]
mars_df2 = mars_df2.drop([0])
mars_df2

                 Mars            Value
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [14]:
# Convert table to HTML string
mars_facts = mars_df2.to_html()
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [15]:
# Visit the Mars astrogeology site
url4 = "https://marshemispheres.com/"
browser.visit(url4)

In [16]:
# Design an XPTH selector to grab the links
xpath_cerberus = '//*[@id="product-section"]/div[2]/div[1]/div/a'
xpath_schiaparelli = '//*[@id="product-section"]/div[2]/div[2]/div/a'
xpath_syrtis = '//*[@id="product-section"]/div[2]/div[3]/div/a'
xpath_valles = '//*[@id="product-section"]/div[2]/div[4]/div/a'

In [17]:
# CERBERUS HEMISPHERE:
cerberus_results = browser.find_by_xpath(xpath_cerberus)
cerberus = cerberus_results[0]
cerberus.click()

In [18]:
html = browser.html
soup = bs(html, 'html.parser')

cerberus = soup.find("img", {"class":"wide-image"})['src']
cerberus_img_url = url4 + cerberus
cerberus_img_url

'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [19]:
# Go back to homepage
home = '//*[@id="results"]/div[1]/div/div[4]/a'
go_home = browser.find_by_xpath(home)
go_home.click()

In [20]:
# SCHIAPARELLI HEMISPHERE
schia_results = browser.find_by_xpath(xpath_schiaparelli)
schia = schia_results[0]
schia.click()

In [21]:
html = browser.html
soup = bs(html, 'html.parser')

schia = soup.find("img", {"class":"wide-image"})['src']
schia_img_url = url4 + schia
schia_img_url

'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'

In [22]:
# Go back to homepage
home = '//*[@id="results"]/div[1]/div/div[4]/a'
go_home = browser.find_by_xpath(home)
go_home.click()

In [23]:
# SYRTIS HEMISPHERE
syrtis_results = browser.find_by_xpath(xpath_syrtis)
syrtis = syrtis_results[0]
syrtis.click()

In [24]:
html = browser.html
soup = bs(html, 'html.parser')

syrtis = soup.find("img", {"class":"wide-image"})['src']
syrtis_img_url = url4 + syrtis
syrtis_img_url

'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'

In [25]:
# Go back to homepage
home = '//*[@id="results"]/div[1]/div/div[4]/a'
go_home = browser.find_by_xpath(home)
go_home.click()

In [26]:
# VALLES HEMISPHERE
valles_results = browser.find_by_xpath(xpath_valles)
valles = valles_results[0]
valles.click()

In [27]:
html = browser.html
soup = bs(html, 'html.parser')

valles = soup.find("img", {"class":"wide-image"})['src']
valles_img_url = url4 + valles
valles_img_url

'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'

In [28]:
# Close the browser after scraping
browser.quit()

In [29]:
# Append the dictionary with the image URL string and the hemisphere title to a list
hemisphere_image_urls = [
    {"title":"Valles Marineris Hemisphere", "img_url":valles_img_url},
    {"title":"Cerberus Hemisphere", "img_url":cerberus_img_url},
    {"title":"Schiaparelli Hemisphere", "img_url":schia_img_url},
    {"title":"Syrtis Major Hemisphere", "img_url":syrtis_img_url},
]

print(*hemisphere_image_urls,sep='\n')

{'title': 'Valles Marineris Hemisphere', 'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}
{'title': 'Cerberus Hemisphere', 'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}
{'title': 'Schiaparelli Hemisphere', 'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}
{'title': 'Syrtis Major Hemisphere', 'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}